div.content-extend{
    background: #DAE7D0;
    margin-top: 1%;
    margin-left: 1%;
    padding: 1%;
    width: 96%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    min-height: 100%;
    display:inline-block;
    vertical-align: top;
}