body{
    margin: 0;
    background: url(/img/green-line2.png) no-repeat #ECF7E3;
    background-size: 100%;
    overflow-x:hidden;
}

p, span, a, div{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

p, span, div{
    cursor:default;
}

input.input-text:focus, input[type=password]:focus, input[type=email]:focus, textarea:focus{
    outline-color: rgb(145, 220, 90);
    outline-style: auto;
    outline-width: 5px;
}

div.content{
    background: #DAE7D0;
    margin-left: 10%;
    width: 80%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    min-height: 100%;
    padding-bottom: 25px;
    display:inline-block;
    vertical-align: top;
}

div.menu{
    margin-left: 3%;
    width: 5%;
    display:inline-block;
    vertical-align: top;
}

footer.footer{
    background: url(/img/grass.png) repeat-x;
    width:100%;
    height:90px;
}

div.pre-content {
    min-height: calc(100vh - 111px);
}

.modal-search{
  position: absolute;
  top: 62px;
  right: 96px;
  z-index: 99;
  background: #DAE7D0;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

@media screen and (min-width: 500px){
    div.pre-content {
        min-height: calc(100vh - 45px);
    }
}


@media screen and (min-width: 1024px){
    div.pre-content {
        min-height: calc(100vh - 45px);
    }
}

@media screen and (min-width: 1280px){
    div.pre-content {
        min-height: calc(100vh - 50px);
    }
}

div.list{
    padding-top: 20px;
    padding-bottom: 20px;
}

div.post{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    transition: 1s;
    overflow-wrap: break-word;
    border-left: 4px solid rgb(145, 220, 90);
}

div.post:hover{
    transition: 1s;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    
    border-left: 4px solid green;
}

a.post-title{
    font: 16px calibri;
    text-decoration: none;
    color:green;
}

p.created-time{
    cursor: default;
    font: 10px calibri;
    margin: 2px;
    padding: 0px;
}

p.post-heading{
    cursor: default;
    font: 12px calibri;
    margin: 2px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.post-content{
    cursor: default;
    font: 14px calibri;
    margin: 2px;
    padding: 0px;
}

span.heading{
    background-color: #ECF7E3;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 3px;
}

a.logo img{
    width: 16%;
    float: right;
    margin: 1% 3% 1% 0;
}

div.post-description{
    margin: 5px 0px;
    padding: 2px;
    display:none;
}

input.input-text{
    box-shadow: 0 0 5px rgba(0,0,0,0.5) inset;
    width:100%;
    margin-bottom: 5px;
}

textarea.textarea{
    box-shadow: 0 0 5px rgba(0,0,0,0.5) inset;
    width:99.6%;
    height:50px;
    margin-bottom: 2px;
    resize:none;
}

input.input-submit, select.input-submit{
    box-shadow: 0 0 15px rgb(145, 220, 90) inset;
    font: 16px calibri;
    border: none;
    padding: 5px 10px;
    background: #ECF7E3;
    cursor:pointer;
    transition: 0.3s;
    text-align: center;
}

input.input-submit:focus, select.input-submit:focus{
    border:none;
    outline: 0px !important;
}

input.input-submit:hover{
    box-shadow: 0 0 25px #DAE7D0 inset;
    transition: 1s;
}

div.edit-post{
    padding: 20px;
}

p.default{
    margin: 0;
}

textarea.edit-textarea{
    box-shadow: 0 0 5px rgba(0,0,0,0.5) inset;
    width:99.6%;
    height:500px;
    margin-bottom: 2px;
    resize:none;
}
form.action{
    display: inline-block;
    margin: 5px;
    margin-left: 160px;
}

form.action:first-of-type{
    margin-left: 30px;
}

input.submit-new-post{
    margin-left: 50px;
    margin-top: 20px;
}

p.title{
    color:green;
    margin: 10px 5px;
    font-size: 24px;
}

div.menu-button {
    z-index: 100;
    width: 70%;
    margin-bottom: 15%;
    display: none;
}

div.menu-button-inner {
    position: relative;
    height: 0;
    border: none;
    padding-top: 100%;
}

div.menu-button-content {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #DAE7D0;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

div.menu-button-content.search{
    background-image: url(../img/menu/search.png);
}

div.menu-button-content.category{
    background-image: url(../img/menu/category.png);
}

div.menu-button-content.map{
    background-image: url(../img/menu/map.png);
}

div.menu-button-content.linkedin{
    background-image: url(../img/menu/linkedin.png);
}

div.menu-button-content.email{
    background-image: url(../img/menu/email.png);
}

#menu-email{
    transition: all 3s cubic-bezier(0, 0, 1, 1);
}

#menu-email.growing{
    position: absolute;
    bottom: 100px;
    right: 100px;
    width: 200px;
    height: 120px;
}

div.menu-button-content:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 0 15px rgb(145, 220, 90) inset;
    transition: 0.7s;
}

div.menu-button-active{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 0 35px rgb(149, 220, 90) inset;
}

div.container-title{
    width: 99%;
    background-color: rgb(145, 220, 90);
    height: 40px;
    padding: 5px 0 0 1%;
}

div.container-title.post-view{
    height:auto;
    padding-bottom: 1%;
}

div.block-description{
    display: inline-block;
    vertical-align: middle;

}

div.container-service{
    display: inline-block;
    width: 60%;
    float:right;
    margin-right: 18px;
    margin-top: 4px;
}

div.container-title span.description{
    color:white;
    font-size: 24px;
    font-weight: 700;
}

input#input-search{
    display: none;
    width: 100%;
    height: 20px;
    padding-left: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 0 25px rgb(145, 220, 90) inset;
    color: darkgreen;
}

div.js-example-basic-multiple{
    display: none;
    width: 90%;
    height: 20px;
    padding-left: 6px;
}

@media screen and (min-width: 570px) and (max-width:980px) {
    div.block-description span.description{
        font-size: 14px;
    }
}

@media screen and (max-width:569px) {
    div.block-description span.description{
        font-size: 12px;
    }
}

@media screen and (max-width:500px) {
    div.block-description span.description{
        font-size: 10px;
    }
}

div.js-example-basic-multiple{
    width:100%;
}

.select2-container.select2-container-multi.js-example-basic-multiple .select2-choices{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 0 25px rgb(145, 220, 90) inset !important;
    border: 2px inset !important;
    height: 21px !important;
    min-height: 21px;
}

li.select2-search-choice{
    background-color: #ECF7E3 !important; 
    box-shadow: 0 0 24px rgb(170, 220, 90) inset !important;
    border-radius: 0 !important;
    border: 1px solid rgb(170,220,90) !important;
    color:green !important;
    line-height: 11px !important;
    margin: 2px 0 3px 2px;
}

li.select2-search-choice .select2-search-choice-close{
    top: 2px;
}

div.select2-drop.select2-drop-multi.select2-drop-active{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 0 25px rgb(145, 220, 90) inset !important;
    width:90% !important;
    width: 47.02% !important;
    left: 41.6% !important;
    top: 15.4% !important;
}

#input-category{
    visibility: hidden;
}

.hide{
    display:none;
}

a.nav{
    text-decoration: none;
    color: white;
}

#email-modal{
    width:550px;
    height:310px;
    position: absolute;
    top:20%;
    left:30%;
    background: #DAE7D0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 20;
}

#email-form{
    padding: 10px;
}

.email-icon{
    width: 35px;
    height: 35px;
    display: inline-block;
    float: right;
    padding-right: 5px;
}

#background-modal {
    position: absolute;
    top:0;
    left:0;
    z-index: 15;
    width: 100%;
    height: 1000%;
    background: #000;
    opacity: 0;
    transition: 0.5s
}

#background-modal:hover{
    opacity: 0.2 !important;
    cursor:pointer;
    transition: 0.5s;
}

#notice{
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 350px;
    min-height: 60px;
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
    border: 2px solid rgb(145, 220, 90);
}

#notice .block-icon{
    background: url(../img/email-icon.png) no-repeat rgb(145, 220, 90) center;
    background-size: 60%;
    width: 80px;
    height: 60px;
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

#notice .block-description{
    background-color: whitesmoke;
    width: auto;
    height: 60px;
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

#notice #notice-message{
    color: darkgreen;
}

.error{
    background-color: red !important;
}

.normal{
    background-color: rgb(170,220,90) !important;
}

ul.pagination li{
    display: inline-block;
    color: green;
    padding-left: 10px;
}

ul.pagination li a{
    color: green;
    text-decoration: none;
}

ul.pagination li.active{
    color: black;
}

.icon {
    width: 19px;
    height: 16px;
    position: relative;
    display: inline-block;
}
.icon-medium {
    width: 25px;
    height: 25px;
    position: relative;
    float: right;
    padding-right: 5px;
    padding-top: 2px;
}

.icon svg, .icon-medium svg {
    position: absolute;
}