.container-main{
    width: 100%;
    margin-top: 10px;
    padding: 5px 0 0 0%;
}

.main-code, .main-map{
    display:inline-block;
    width:49%;
}

.main-map{
    height:510px;
    margin-left: 1%;
    background-color: white;
    visibility: hidden;
    border: 3px double rgb(145, 220, 90);
}

#editor{
    visibility: hidden;
    margin-top: 13px;
    border: 3px double rgb(145, 220, 90);
}

.main-code #editor{
    width: 100%;
    height: 495px;
    max-height: 500px;
    padding: 15px 0 0 15px;
}

.main-code textarea:focus{
    outline: none;
    overflow:visible;
}

input.input-submit{
    padding: 6px 22px;
}