div.post-block{
    background-color: #ECF7E3;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-bottom: 20px;
}

div.container{
    padding: 30px;
}

p.post-title{
    font: 24px calibri;
    color:green;
}

div.post-content{
    word-wrap: break-word;
}

div.create-comment-block{
    background-color: #ECF7E3;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-bottom: 20px;
}

div.comments-block{
    background-color: #ECF7E3;
    padding: 10px 10px 10px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-bottom: 10px;
}

a.article-link{
    color:green;
}

.article-ul li{
    padding-bottom: 10px;
}

.article-name{
    font-style: italic;
}

p.comment-author{
    font: 16px calibri;
    color:green;
    margin: 0px;
}

span.comment-created{
    cursor: default;
    font: 12px calibri;
    margin: 0px 0px 0px 5px;
    
}

p.comment-content{
    cursor: default;
    font: 14px calibri;
    margin: 0px;
}